<%= link_to "Home", episodes_path %><br/>

<%= link_to image_tag(@episode.poster_image_url), episode_path(@episode) %>
<h2><%= @episode.title %> (<%= link_to "edit", edit_episode_path(@episode) %>, <%= link_to "delete", episode_path(@episode), method: :delete, confirm: "Are You sure???" %>)</h2>
<h4> <%= @episode.release_date %> | <%= @episode.runtime_in_minutes %> minutes</h4>
<p><%= @episode.description %></p>